<html>
<body>



{{^name}}
<form action="/login" method="post"/>
<input type="text" placeholder="Enter your name" name="userName"/>
<button type="submit">Login</button>
</form>
{{/name}}

{{#name}}
<form action="/add-message" method="post"/>
<input type="text" placeholder="Enter your message" name="text"/>
<button type="submit">Submit</button>
</form>


<br/>

Messages by {{name}}:
<br/>
<ol>
    {{#messages}}
    <form action="/delete-message" method="post"/>
    <li>
        {{text}}
        <input type="hidden" value="{{id}}" name="id"/>
        <button type="submit">Delete</button>
    </li>
    </form>
    {{/messages}}
</ol>
{{/name}}


</body>
</html>